:root {
    --cor-primaria: #e21;
    --cor-primaria-escura: #900;
    --fundo-1: #f7f7f7;
    --fundo-2: #fff;
    --texto: #000;
    --cor-subtitulo: rgba(0, 0, 0, 0.2);
    --onda: url("/img/onda-clara.svg");
}

@media(prefers-color-scheme: dark) {
    :root {
        --fundo-1: #111;
        --fundo-2: #000;
        --texto: #fff;
        --cor-subtitulo: rgba(255, 255, 255, 0.2);
        --onda: url("/img/onda-escura.svg");
    }
}

body {
    font-family: Arial;
    margin: 0;
    background: var(--fundo-1);
    display: grid;
    gap: 60px;
    justify-items: center;
    margin-top: 60px;
    color: var(--texto);
    /* margin: 0; */
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
ul {
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}